ion-slide {
  padding: 80px 10px 50px 10px;
  display: block;
  img {
  width: 700px;
  }
  h2 {
  font-size: 36px;
  font-family: 'Marcellus SC';
  
  }
  } 
  
ion-toolbar{
  --background: #ccae62;
}