<ion-header>
  <ion-toolbar  class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input type="name" [(ngModel)]="user.fullname" required></ion-input >
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input >
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input >
  </ion-item>

  <ion-button fill="clear" color="dark" expand="full" shape="round" 
  [ngStyle]=" !isSelected&&{'background-color':'#ffda79'}" 
  (click)="register(user)" [routerLink]="['/login']">
   SUBMIT
  </ion-button>
  
</ion-content>

