<ion-header>
  <ion-toolbar>
    <ion-title>Nasi</ion-title>
    <ion-buttons slot="start" routerLink="/about">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  

</ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src='../../assets/udangtepung.jpg'>
    <h1 class="ion-text-center" >Udang Tepung</h1>
  </ion-card>
  
  <ion-card>
    <img src='../../assets/udangpaprik.jpg'>
    <h1 class="ion-text-center" >Udang Paprik</h1>
  </ion-card>
  

</ion-content>
