<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start" routerLink="/about">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="dark">
    <p> FREQUENTLY ASK QUESTION </p>
  </ion-text>


  <ion-item>
  <h1> <ion-label position="stacked"> Is It Halal?</ion-label> </h1>
 <h3>   <ion-input>All the foods are cooked by a muslim and we serve great foods for our customer </ion-input> </h3>
  </ion-item>

  <ion-item>
    <h1> <ion-label position="stacked">How To Use This App</ion-label> </h1>
   <h3>   <ion-input>This app is for food display only</ion-input> </h3>
    </ion-item>

    <ion-item>
      <h1> <ion-label position="stacked"> How To Order?</ion-label> </h1>
     <h3>   <ion-input>Call Waiter to make a order </ion-input> </h3>
      </ion-item>


  <ion-item>
 <h1>   <ion-label position="stacked">Can I cancel my order?</ion-label> </h1>
 <h3>Please Call Waiter to Cancel Order</h3>
  </ion-item>

  <ion-item>
    <h1>   <ion-label position="stacked">Does sell any malay food?</ion-label> </h1>
    <h3>We will weekly sell malay food like nasi kerabu, nasi kerabu</h3>
     </ion-item>
</ion-content>