<ion-header>
  <ion-toolbar>
    <ion-title>Food</ion-title>
    <ion-buttons slot="start" routerLink="/about">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-card class="ion-text-center">
    <h2>  Nasi Goreng Biasa </h2>
    <img src='../../assets/nasigoreng.jpeg'>
    <p>  RM8.50 </p>
  </ion-card>

  <ion-card class="ion-text-center">
    <h2>  Nasi Kandar </h2>
    <img src='../../assets/nasi kandar.jpg'>
    <p>  RM11.90 </p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2>  Nasi Beriani </h2>
    <img src='../../assets/nasiberiani.jpg'>
    <p>  RM12.40</p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2>  Nasi Lemak </h2>
    <img src='../../assets/nasilemak.jpeg'>
    <p>  RM4.60 </p>
  </ion-card>
  
  <ion-card class="ion-text-center">
    <h2>  Nasi Goreng Kampung</h2>
    <img src='../../assets/nasigorengkampung.jpeg'>
    <p>  RM8.50 </p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2>  Maggi Goreng </h2>
    <img src='../../assets/maggigoreng.jpg'>
    <p>  RM8.80 </p>
  </ion-card>

  <ion-card class="ion-text-center">
    <h2>  Sirap Bandung</h2>
    <img src='../../assets/extrajossanggur.jpeg'>
    <p>  RM4.30 </p>
  </ion-card>

  <ion-card class="ion-text-center">
    <h2>  Sirap Limau </h2>
    <img src='../../assets/siraplimau.png'>
    <p>  RM2.70</p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2> Epal Jus </h2>
    <img src='../../assets/epaljuice.jpg'>
    <p>  RM2.50 </p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2>  Teh O Ais Limau</h2>
    <img src='../../assets/tehoaislimau.jpg'>
    <p>  RM2.30 </p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2>  Udang Masak Lemak Cili Api </h2>
    <img src='../../assets/udang masak lemak cili api.jpg'>
    <p>  RM9.00</p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2>  Udang Tepung </h2>
    <img src='../../assets/udangtepung.jpg'>
    <p>  RM8.60 </p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2>  Udang Paprik </h2>
    <img src='../../assets/udangpaprik.jpg'>
    <p>  RM9.50 </p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2>  Udang Kunyit </h2>
    <img src='../../assets/udangkuniyt.jpg'>
    <p>  RM7.80 </p>
  </ion-card>

  
  <ion-card class="ion-text-center">
    <h2>  Udang Masam Manis </h2>
    <img src='../../assets/udangmasammanis.jpg'>
    <p>  RM9.65</p>
  </ion-card>
  

</ion-content>
